$colorfondo: rgb(240, 248, 255);
$colorborde: rgb(255, 235, 205);
.fotos {
    img {
    border-radius: 50%;
    }
}
.imgzoom {
    overflow: hidden;
}
.img1 {
    &:hover {
    transform: scale(1.1);
    transition: all 1s;
    }
}
body {
    background-color: $colorfondo;
}

.video {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.home {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
}